/* --------------------------------------------
$  BASIC STYLES
 --------------------------------------------*/

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/**
 * Set up a decent box model on the root element
 */
html,
body {
    width: 100vw;
    font-family: font(akkurat);
    font-size: font-size(nav);
    margin: 0;
    padding: 0;
    background-color: colour(offwhite);
    overflow-x: hidden;
}

html {
    display: block;
    box-sizing: border-box;
    // 10px = 1rem
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 100vw;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.links {
    text-decoration: none;
    color: colour(onyx);
    box-sizing: border-box;
    box-shadow: inset 0 -8px 0 colour(egg);
    transition: 0.1s all ease-out;

    &.big {
        box-shadow: inset 0 -10px 0 colour(egg);
    }

    &:hover {
        box-shadow: inset 0 -100px 0 colour(egg);
        transition: 0.1s all ease-out;
    }
}

/**
 * Dark mode styles
 */
body.dark {
    -webkit-font-smoothing: antialiased;
    color: colour(bonjour);

    .links {
        color: colour(bonjour);
        box-shadow: inset 0 -10px 0 colour(bittersweet);

        &:hover {
            box-shadow: inset 0 -100px 0 colour(bittersweet);
        }
    }

    #nav {
        background-color: colour(onyx);

        .inner-header {
            color: colour(bonjour);

            .logo {
                a {
                    &:link {
                        color: colour(bonjour);
                    }

                    &:visited {
                        color: colour(bonjour);
                    }

                    &:focus {
                        color: colour(bonjour);
                    }

                    &:hover {
                        background-color: colour(bittersweet);
                    }

                    &:active {
                        color: colour(bonjour);
                    }
                }
            }

            .navigation {
                nav {
                    a {
                        &:link {
                            color: colour(bonjour);
                        }

                        &:visited {
                            color: colour(bonjour);
                        }

                        &:focus {
                            color: colour(bonjour);
                        }

                        &:hover {
                            background-color: colour(bittersweet);
                        }

                        &:active {
                            color: colour(bonjour);
                        }
                    }
                }
            }
        }
    }

    .title {
        color: colour(bonjour);
    }

    #banner {
        background-color: colour(onyx);

        .attributes {
            ul {
                li {
                    // background-color: transparentize(colour(aluminium), 0.93);
                    background-color: #1c1c1c;
                    box-shadow: 5px 10px 3px 1px colour(cod-gray);

                    &:hover {
                        box-shadow: 2px 5px 3px 1px colour(cod-gray);
                    }
                }
            }
        }
    }

    #about {
        background-color: colour(russian);

        .lang {
            .lang-box {
                li {
                    background-color: colour(aluminium);
                    box-shadow: 5px 10px 3px 1px colour(cod-gray);

                    &:hover {
                        box-shadow: 2px 5px 3px 1px colour(onyx);

                        p {
                            background-color: colour(white);
                            color: colour(onyx);
                            border: 3px solid colour(white);
                        }
                    }

                    p {
                        background-color: colour(onyx);
                        color: colour(bonjour);
                        border: 3px solid colour(onyx);
                    }
                }
            }
        }
    }

    #stack {
        background-color: colour(onyx);

        .container {
            .stack-section {
                .stack-boxes {
                    .smaller-box {
                        border: 5px solid colour(aluminium);
                        background-color: colour(russian);

                        p {
                            background-color: colour(bonjour);
                            border: 5px solid colour(bonjour);
                            color: colour(onyx);
                        }

                        .stack-icons {
                            fill: colour(bonjour);
                            stroke: colour(bonjour);
                        }
                    }
                }
            }
        }
    }

    #projects {
        background-color: colour(russian);

        .collapsible__content {
            background-color: colour(onyx);

            .chip {
                background-color: lighten($color: colour(russian), $amount: 3%);

                &:hover {
                    background-color: lighten(
                        $color: colour(russian),
                        $amount: 10%
                    );
                }
            }
        }
    }

    #contact {
        background-color: colour(onyx);

        .map {
            color: colour(onyx);
        }
    }

    footer {
        background-color: colour(russian);

        .footer-icons {
            fill: lighten($color: colour(russian), $amount: 20%);
            stroke: lighten($color: colour(russian), $amount: 20%);

            &:hover {
                fill: colour(bittersweet);
                stroke: colour(bittersweet);
            }
        }

        p {
            color: colour(bonjour);
        }
    }
}
