/* --------------------------------------------
$  TYPOGRAPHY
 --------------------------------------------*/
/* --------------------------------------------
$  A note on px, em and rem
$  -> PX are used in this project only for images,
$  that will have a static size no matter what;
$  -> REM are used for all typography (font-size,
$  line-height, margin, padding);
$  -> EM are used for all media queries, layout-
$  related components, etc.
 --------------------------------------------*/
/* --------------------------------------------
$  FONT-FAMILY 
 --------------------------------------------*/
$fonts: (
    akkurat: (
        'Akkurat-Mono',
        monospace,
    ),
    alessandria: (
        'Alessandria',
        serif,
    ),
);

@function font($font-name) {
    @return map-get($fonts, $font-name);
}

/* --------------------------------------------
$  FONT-SIZE 
 --------------------------------------------*/
$font-sizes: (
    logo: 2rem,
    logo-tablet: 1.8rem,
    nav: 1.6rem,
    nav-mobile: 0.9rem,
    nav-tablet: 1.4rem,
);

@function font-size($font-size-name) {
    @return map-get($font-sizes, $font-size-name);
}

/* --------------------------------------------
$  LINE-HEIGHT 
 --------------------------------------------*/
$line-heights: (
    title-featured: 6rem,
    title-article: 4.2rem,
    title-card: 2.8rem,
    article: 3.2rem,
    subtitle-featured: 2.5rem,
    subject: 2rem,
    footer: 1.8rem,
);

@function line-height($line-height-name) {
    @return map-get($line-heights, $line-height-name);
}
