/* --------------------------------------------
$  FUNCTIONS
 --------------------------------------------*/

/* COLOUR MAP */
$colours: (
  white: rgb(255, 255, 255),
  black: rgb(0, 0, 0),
  cod-gray: rgb(10, 10, 10),
  sazerac: rgb(255, 241, 227),
  // light mode
  oyster: rgb(230, 209, 209),
  prim: rgb(226, 190, 190),
  silk: rgb(189, 168, 159),
  santa-fe: rgb(178, 110, 84),
  bazaar: rgb(155, 120, 117),
  cowboy: rgb(75, 37, 45),
  // dark mode
  onyx: rgb(18, 18, 18),
  russian: rgb(30, 30, 30),
  bonjour: rgb(228, 227, 227),
  aluminium: rgb(155, 155, 155),
  shady: rgb(174, 160, 165),
  bittersweet: rgb(241, 110, 101),
  lavender: rgb(194, 143, 255),
  egg: rgb(1, 219, 198),
);

@function colour($colour-name) {
  @return map-get($colours, $colour-name);
}
