/* --------------------------------------------
$  FUNCTIONS
 --------------------------------------------*/

/* COLOUR MAP */
$colours: (
    // light mode
    white: rgb(255, 255, 255),
    offwhite: #eeeeee,
    light-gray: #e0e0e0,
    egg: rgb(1, 219, 198),
    // dark mode
    cod-gray: rgb(10, 10, 10),
    onyx: rgb(18, 18, 18),
    russian: rgb(37, 37, 37),
    bonjour: rgb(228, 227, 227),
    aluminium: rgb(155, 155, 155),
    // bittersweet: #ff5151,
    bittersweet: #a239ea,
    lavender: rgb(194, 143, 255),
    hard-candy: #ff4848,
    hardest-candy: #ff5151,
    pamplemousse: #fc6b68,
    darkmousse: #ff4848,
    hotmousse: #fb3640,
    purplefiesta: #a239ea,
    purpleland: #c82586
);

@function colour($colour-name) {
    @return map-get($colours, $colour-name);
}
