/* --------------------------------------------
$  FONT FACES
 --------------------------------------------*/

/* TG PRAKTIKAL - NAV */
@font-face {
  font-family: "Alegreya";
  src: url("Alegreya-Regular.eot");
  src: url("Alegreya-Regular.eot?#iefix") format("embedded-opentype"),
    url("Alegreya-Regular.woff") format("woff"),
    url("Alegreya-Regular.woff2") format("woff2"),
    url("Alegreya-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
