#about {
    background-color: colour(light-gray);
    transition: all 100ms ease-out;
    margin: 0;

    @include tablet {
        padding: 0;
    }

    .container {
        position: relative;

        @include desktop {
            padding: 20rem 0 2rem 0;
        }

        .about-section {
            margin-bottom: 8rem;

            .title {
                font-family: font(alessandria);
                font-size: 3.6rem;
                position: absolute;
                top: 10rem;
                right: 2rem;

                @include desktop {
                    right: 0;
                    font-size: 4rem;
                }
            }

            .subtitle {
                font-family: font(alessandria);
                font-size: 3rem;
            }

            p,
            li {
                font-family: font(akkurat);
                font-size: 2.4rem;
                margin-bottom: 3rem;
                line-height: 4rem;

                @include desktop {
                    max-width: 70rem;
                    font-size: 1.8rem;
                }
            }

            ul {
                li {
                    list-style-type: none;
                    margin-bottom: 0;
                }
            }
        }

        // .lang {
        //     width: 100%;
        //     text-align: center;
        //     margin: 4rem auto;

        //     .lang-box {
        //         display: grid;
        //         grid-gap: 2.5rem;
        //         grid-template-columns: repeat(2, 1fr);

        //         @include tablet {
        //             padding: 0;
        //             grid-template-columns: repeat(4, 1fr);
        //         }

        //         @include desktop {
        //             grid-template-columns: repeat(9, 1fr);
        //         }

        //         li {
        //             list-style: none;
        //             transition: 200ms ease-out all;

        //             @include tablet {
        //                 justify-self: center;
        //                 width: 16rem;
        //             }

        //             @include desktop {
        //             }

        //             .flags {
        //                 height: 5rem;
        //                 width: 5rem;

        //                 @include desktop {
        //                     height: 6rem;
        //                     width: 6rem;
        //                 }
        //             }

        //             .tooltip-text {
        //                 visibility: hidden;
        //                 width: 120px;
        //                 background-color: black;
        //                 color: #fff;
        //                 text-align: center;
        //                 border-radius: 6px;
        //                 padding: 5px 0;

        //                 /* Position the tooltip */
        //                 position: absolute;
        //                 z-index: 1;
        //             }

        //             &:hover {
        //                 .tooltip-text {
        //                     visibility: visible;
        //                 }
        //             }
        //         }
        //     }
        // }
    }
}
