#banner {
  background-color: colour(oyster);
  transition: all 400ms ease-out;

  .container {
    position: relative;
    padding-bottom: 7rem;

    .image-left {
      .profile-image {
        max-width: 520px;
        padding: 15rem 0 5rem 0;

        img {
          border-radius: 7px;
        }
      }
    }

    .text-right {
      .title {
        font-family: font(helvetica);
        font-size: 6rem;

        @include tablet {
          position: absolute;
          top: 20rem;
          right: 0;
        }

        span {
          font-weight: bold;
        }
      }

      p {
        font-family: font(alegreya);
        max-width: 50rem;
        font-size: 3rem;
        line-height: 4rem;
        text-align: right;

        @include tablet {
          position: absolute;
          top: 35rem;
          right: 0;
        }
      }
    }

    .attributes {
      font-family: font(helvetica);
      font-size: 5rem;
      background-color: colour(prim);
      border-radius: 10px;
      transition: 400ms ease-out all;

      h2 {
        font-size: 3rem;
        font-weight: normal;
        text-align: center;
        padding: 4rem 0 0 0;
      }

      ul {
        display: flex;

        li {
          flex-direction: column;
          font-size: 3rem;
          list-style: none;
          margin: 5rem auto 4rem auto;
          text-align: center;
          background-color: colour(oyster);
          border-radius: 10px;
          padding: 2rem;
          box-shadow: 5px 10px 3px 1px colour(bazaar);
          transition: 200ms ease-out all;

          &:hover {
            box-shadow: 2px 5px 3px 1px colour(bazaar);
          }

          .att-icons {
            height: 60px;
            width: 60px;
          }

          p {
            margin: 1rem 0;
            font-size: 20px;
            max-width: 18rem;
            font-family: font(alegreya);
            line-height: 2.4rem;

            &:nth-of-type(1) {
              font-size: 2.5rem;
              margin-bottom: 2rem;
              font-family: font(helvetica);
            }
          }
        }
      }
    }
  }
}
