#banner {
    background: url('/fleck.png') colour(offwhite) repeat;
    transition: all 100ms ease-out;

    .container {
        padding: 0 2rem 7rem 2rem;

        @include desktop {
            padding: 18rem 0 7rem 0;
        }

        .hero {
            margin-top: 10rem;

            .title {
                font-family: font(alessandria);
                font-size: 6rem;
                margin-bottom: 2rem;

                @include desktop {
                    margin-bottom: 16rem;
                }
            }

            p {
                font-family: font(akkurat);
                max-width: 50rem;
                font-size: 2.5rem;
                line-height: 4rem;
                text-align: left;

                @include desktop {
                    font-size: 2.5rem;
                    margin-bottom: 8rem;
                }
            }
        }

        .attributes {
            font-family: font(akkurat);
            font-size: 2rem;
            transition: 100ms ease-out all;
            margin-top: 4rem;
            padding-bottom: 3rem;

            @include desktop {
                margin-top: 0;
                padding-bottom: 0;
            }

            .subtitle {
                font-size: 2.2rem;
                font-weight: normal;
                line-height: 3rem;
                text-align: center;
                padding: 4rem 4rem 2rem 4rem;

                @include desktop {
                    font-size: 2rem;
                    padding: 4rem 0 0 0;
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;

                @include tablet {
                    padding-bottom: 2rem;
                }

                @include desktop {
                    flex-direction: row;
                }

                li {
                    flex-direction: column;
                    font-size: 3rem;
                    list-style: none;
                    margin: 1rem auto;
                    text-align: center;
                    background-color: colour(light-gray);
                    border-radius: 10px;
                    padding: 2rem;
                    box-shadow: 5px 6px 3px 1px colour(aluminium);
                    transition: 100ms ease-out all;

                    @include tablet {
                        margin: 3rem auto 0 auto;
                    }

                    @include desktop {
                        width: 400px;
                    }

                    &:hover {
                        box-shadow: 2px 5px 3px 1px colour(aluminium);
                    }

                    div {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        margin-bottom: 2.5rem;

                        p {
                            margin-left: 2rem;
                        }
                    }

                    .att-icons {
                        height: 60px;
                        width: 60px;
                    }

                    .att-title {
                        font-family: font(alessandria);
                        font-size: 2.5rem;
                        margin-bottom: 2rem;
                    }

                    p {
                        margin: 1rem 0;
                        font-size: 1.5rem;
                        font-family: font(akkurat);
                        line-height: 2.4rem;
                    }
                }
            }
        }
    }
}
