#contact {
  background-color: colour(oyster);
  transition: all 400ms ease-out;

  .container {
    position: relative;

    .contact-section {
      padding-top: 12rem;

      .title {
        font-family: font(helvetica);
        font-size: 5rem;
        position: absolute;
        top: 1rem;
        right: 0;

        span {
          font-weight: bold;
        }
      }

      .info {
        font-family: font(alegreya);
        margin-top: 3rem;

        p {
          max-width: 60rem;
          font-size: 3rem;
          margin-bottom: 1rem;
          line-height: 4rem;
        }
      }

      .address {
        margin-top: 4rem;
      }
    }

    .map {
      margin-top: 2rem;
      padding-bottom: 5rem;

      // Google maps marker bubble
      .gm-style {
        .gm-style-iw-c {
          top: -4rem;
        }

        .gm-style-iw-t {
          &:after {
            top: -4rem;
          }
        }
      }

      h3 {
        text-transform: uppercase;
        margin: 0.5rem;
      }

      p {
        margin: 0.5rem;
      }

      .map-dimensions {
        height: 400px;
        width: 700px;

        * {
          border-radius: 20px;
        }
      }
    }
  }
}
