#contact {
  background-color: colour(oyster);
  transition: all 400ms ease-out;
  height: 80vh;

  .container {
    position: relative;

    .contact-section {
      padding-top: 12rem;

      .title {
        font-family: font(helvetica);
        font-size: 5rem;
        position: absolute;
        top: 1rem;
        right: 0;

        span {
          font-weight: bold;
        }
      }

      p {
        max-width: 60rem;
        font-size: 3rem;
      }
    }

    .map {
      // Google maps marker bubble
      .gm-style {
        .gm-style-iw-c {
          top: -4rem;
        }

        .gm-style-iw-t {
          &:after {
            top: -4rem;
          }
        }
      }

      h3 {
        text-transform: uppercase;
        margin-bottom: 0.5rem;
      }

      p {
        margin-bottom: 0.5rem;
      }
    }
  }
}
