#projects {
    background-color: colour(bazaar);
    transition: all 400ms ease-out;
    min-height: 80vh;
    padding: 0 2rem;

    @include tablet {
        padding: 0;
    }

    .container {
        position: relative;

        .projects-section {
            padding: 14rem 2rem 0 2rem;

            @include tablet {
                padding-top: 20rem;
            }

            @include desktop {
                padding-top: 12rem;
            }

            .title {
                font-family: font(helvetica);
                font-size: 3.6rem;
                position: absolute;
                top: 3rem;
                right: 0;

                @include tablet {
                    right: 2rem;
                }

                @include desktop {
                    right: 0;
                    top: 2rem;
                    font-size: 5rem;
                }

                span {
                    font-weight: bold;
                }
            }

            .projects__header {
                font-family: font(alegreya);
                line-height: 4rem;
                margin-top: 6rem;

                p {
                    max-width: 70rem;
                    font-size: 2.4rem;

                    @include desktop {
                        font-size: 3rem;
                    }

                    &:first-of-type {
                        margin-bottom: 2rem;
                    }
                }

                @include tablet {
                    font-size: 3rem;
                    margin-top: 0;
                }
            }
        }
    }
}
