#stack {
    background: url('/fleck.png') colour(offwhite) repeat;
    transition: all 400ms ease-out;

    @include tablet {
        padding: 0;
    }

    .container {
        position: relative;

        .stack-section {
            padding: 20rem 2rem 0 2rem;

            @include desktop {
                padding: 14rem 0 0 0;
            }

            .title {
                font-family: font(alessandria);
                font-size: 3.6rem;
                position: absolute;
                top: 10rem;
                right: 2rem;

                @include desktop {
                    right: 0;
                    font-size: 4rem;
                }
            }

            .stack-boxes {
                margin-top: 6rem;
                padding-bottom: 6rem;

                .subsection {
                    &:last-of-type {
                        margin-top: 10rem;
                    }

                    p {
                        font-family: font(alessandria);
                        font-size: 3rem;
                        margin-bottom: 3rem;
                    }

                    div {
                        display: flex;
                        flex-direction: row;
                    }

                    ul {
                        width: 200px;

                        &:first-of-type {
                            margin-right: 10rem;
                        }

                        li {
                            font-family: font(akkurat);
                            font-size: 1.8rem;
                            line-height: 4rem;
                            list-style-type: none;
                            text-transform: lowercase;
                        }
                    }
                }
            }
        }
    }
}
