#stack {
  background-color: colour(oyster);
  transition: all 400ms ease-out;

  .container {
    position: relative;

    .stack-section {
      padding-top: 12rem;

      .title {
        font-family: font(helvetica);
        font-size: 5rem;
        position: absolute;
        top: 1rem;
        right: 0;

        span {
          font-weight: bold;
        }
      }

      .stack-boxes {
        max-width: 65%;
        display: grid;
        grid-gap: 4rem;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 6rem;
        padding-bottom: 6rem;

        .smaller-box {
          background-color: colour(bazaar);
          border-radius: 10px;
          padding: 3rem 0;
          text-align: center;

          p {
            max-width: 60rem;
            font-size: 3rem;
            text-align: center;
            font-family: font(metric);
            background-color: colour(oyster);
            width: fit-content;
            margin: 0 auto 2rem auto;
            border-radius: 10px;
            padding: 2px 10px;
          }

          ul {
            &:nth-of-type(1) {
              margin-bottom: 2rem;
            }

            li {
              text-align: center;
              list-style: none;
              font-size: 3rem;
              font-family: font(metric);
              margin: 1rem auto;
            }
          }

          .stack-icons {
            width: 80px;
            height: 80px;
            margin-bottom: 3rem;
          }
        }
      }
    }
  }
}
