.projects__collapsible {
    padding: 4rem 0 9rem 0;

    @include tablet {
        padding: 8rem 0 9rem 0;
    }

    @include desktop {
        padding: 0 0 6rem 0;
    }

    .collapsible__section {
        display: flex;
        flex-direction: column;

        .collapsible {
            color: whitesmoke;
            cursor: pointer;
            padding: 0 18px;
            display: flex;
            align-items: center;
            border: none;
            outline: none;
            transition: 0.1s all ease;
            position: relative;
            background-size: cover;
            filter: grayscale(100%);

            @include tablet {
                background-position-y: -80px;
            }

            @include desktop {
                background-position-y: -200px;
            }

            &:hover {
                opacity: 0.8;
                transition: 0.1s all ease;
                filter: none;
            }

            .collapsible__title {
                font-family: font(akkurat);
                text-transform: uppercase;
                font-size: 16px;
                position: absolute;
                top: 14px;
            }
        }

        .collapsible__content {
            background-color: colour(offwhite);
            overflow: hidden;
            transition: height 0.1s ease-out;

            .collapsible__body {
                font-family: font(akkurat);
                margin: 2rem;
                position: relative;

                p {
                    font-size: 2.3rem;
                }

                h1 {
                    font-family: font(akkurat);
                    font-size: 5rem;
                    text-transform: uppercase;
                    position: relative;

                    span {
                        font-size: 20px;
                        font-weight: 400;
                        display: block;
                        margin-top: 1rem;

                        @include desktop {
                            display: inline;
                            margin-top: 0;
                        }
                    }

                    .projects__links {
                        font-size: 2rem;
                        font-weight: 200;
                        font-family: font(akkurat);
                        margin-top: 1rem;
                        text-transform: lowercase;

                        @include tablet {
                            position: absolute;
                            bottom: 4.2rem;
                            right: 0;
                            text-align: r ight;
                        }

                        @include desktop {
                            font-size: 2.6rem;
                            bottom: 0.4rem;
                        }
                    }
                }

                .chips {
                    font-family: font(akkurat);
                    display: flex;
                    flex-wrap: wrap;

                    .chip {
                        cursor: default;
                        font-size: 14px;
                        flex-direction: row;
                        margin-bottom: 1rem;
                        margin-right: 1rem;
                        padding: 8px;
                        background-color: colour(light-gray);
                        text-transform: lowercase;
                        transition: 0.1s all ease;

                        &:hover {
                            background-color: darken(
                                $color: colour(light-gray),
                                $amount: 5%
                            );
                            transition: 0.1s all ease;
                        }
                    }
                }

                .projects__description {
                    margin: 2rem auto;
                    display: flex;
                    flex-direction: column;

                    @include tablet {
                        flex-direction: row;
                    }

                    .projects__description--text {
                        width: 100%;

                        @include tablet {
                            width: 50%;
                        }

                        p {
                            margin-bottom: 2rem;
                            line-height: 3rem;
                            font-size: 1.8rem;
                            padding-right: 4rem;

                            @include tablet {
                                font-size: 1.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.active {
    transition: height 0.1s ease-out;
}

// Chevron
.collapsible__icon {
    margin-left: auto;
    transition: transform 0.1s ease;
    position: absolute;
    top: 10px;
    right: 10px;
}

.rotate {
    .collapsible__icon {
        transform: rotate(90deg);
    }
}
