/* --------------------------------------------
$  FOOTER
 --------------------------------------------*/

footer {
    transition: all 100ms ease-out;
    display: flex;
    flex-direction: row;
    background: url('/fleck.png') colour(light-gray) repeat;
    text-align: center;

    .footer {
        margin: 0 auto;
        padding: 1rem 0;
        text-align: center;

        p {
            font-family: font(akkurat);
            font-size: 1.2rem;
            color: colour(onyx);
            padding-bottom: 2rem;
            margin-top: 1rem;

            @include desktop {
                font-size: 1.4rem;
            }

            span {
                font-family: font(alessandria);
            }
        }

        .footer-icons.linkedin,
        .footer-icons.github {
            height: auto;
            width: 25px;

            @include desktop {
                width: 35px;
            }
        }

        .footer-icons {
            margin: 2rem 1rem 1rem 1rem;
            fill: colour(onyx);
            stroke: colour(onyx);
            transition: 100ms all ease-out;
            width: 20px;
            height: auto;

            @include desktop {
                width: 30px;
            }

            &:hover {
                transition: 100ms all ease-out;
                fill: colour(egg);
                stroke: colour(egg);
            }
        }
    }
}
