/* --------------------------------------------
$  NAV (header)
 --------------------------------------------*/

#nav {
    display: block;
    height: 80px;
    width: 100vw;
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: colour(offwhite);
    transition: all 100ms ease-out;

    .inner-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: font(akkurat);
        height: 80px;
        max-width: 1280px;
        color: colour(cod-gray);
        margin: 0 2rem;

        @include desktop {
            margin: 0 auto;
        }

        .logo {
            a {
                font-weight: bolder;
                text-decoration: none;
                letter-spacing: 1.5px;
                transition: all 100ms ease-out;

                @include tablet {
                    font-size: font-size(logo-tablet);
                    padding-top: 6px;
                }

                @include desktop {
                    font-size: font-size(logo);
                }

                &:link {
                    color: colour(cod-gray);
                }

                &:visited {
                    color: colour(cod-gray);
                }

                &:focus {
                    color: colour(cod-gray);
                }

                &:hover {
                    background-color: colour(egg);
                }

                &:active {
                    color: colour(cod-gray);
                }
            }
        }

        .navigation {
            nav {
                display: flex;
                flex-direction: row;

                a {
                    font-size: font-size(nav-mobile);
                    letter-spacing: 1.75px;
                    margin: 5px 5px;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: all 100ms ease-out;

                    @include tablet {
                        font-size: font-size(nav-tablet);
                        margin: 20px 12px;
                    }

                    @include desktop {
                        font-size: font-size(nav);
                        margin: 20px;
                        padding-top: 4px;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &:link {
                        color: colour(cod-gray);
                    }

                    &:visited {
                        color: colour(cod-gray);
                    }

                    &:focus {
                        color: colour(cod-gray);
                    }

                    &:hover {
                        background-color: colour(egg);
                    }

                    &:active {
                        color: colour(cod-gray);
                    }
                }

                // Dark mode toggle button
                .dark-button {
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 5px;
                    margin-top: -2px;

                    @include tablet {
                        margin-top: -5px;
                    }

                    @include desktop {
                        margin-left: 12px;
                        margin-top: 0;
                    }

                    &:before,
                    &:after {
                        box-sizing: border-box;
                    }

                    label {
                        position: relative;
                        display: block;
                        width: 32px;
                        height: 18px;
                        border-radius: 100px;
                        background-color: colour(russian);
                        overflow: hidden;
                        cursor: pointer;

                        @include tablet {
                            width: 45px;
                            height: 25px;
                        }

                        &:before,
                        &:after {
                            display: block;
                            position: absolute;
                            content: '';
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            top: 3px;
                            left: 3px;
                            transition: 0.1s ease;

                            @include tablet {
                                width: 19px;
                                height: 19px;
                                border-radius: 50%;
                                top: 3px;
                                left: 3px;
                            }
                        }

                        &:before {
                            background-color: colour(egg);
                        }

                        &:after {
                            background-color: colour(russian);
                            left: -58px;
                            transform: scale(0.00001);
                        }
                    }

                    input[type='checkbox'] {
                        display: none;

                        &:checked + label {
                            &:before {
                                background-color: colour(bittersweet);
                                transform: translateX(14px);

                                @include tablet {
                                    transform: translateX(20px);
                                }
                            }

                            &:after {
                                transform: translateX(70px) scale(1);

                                @include tablet {
                                    transform: translateX(75px) scale(1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
